/ignore.md
# ------------------------------------
# Node / Express
# ------------------------------------
/IPFS_API/node_modules/

# ------------------------------------
# React Client (if inside 'client' folder)
# ------------------------------------
IPFS_Client/node_modules/


